$font: 'Ubuntu', sans-serif;
$primary-color : #004170;
$secondary-color : #008CF0;
$light-color : #49ACF2;
$dark-color: #12222e;
// $light-color : #49ACF2;
$bg : #586B79;

$n-square : 30;
$n-dimension : 30px;
$n-percentage : 1%;