@import 'config';
@import 'utils';

.left-comp
{
    display: flex;
    position: relative;
    flex-direction: column;
    // height: 100%;
    width: 100%;
    padding: 2.5%;
    // border-radius: 20px 0 0 20px;
    background-color: #19191a;
    box-shadow: 0 4px 12px 0   #19191a;
    backdrop-filter: blur( 4.0px );
    opacity: .9;
    // overflow: auto;


    // Row 1 app logo
    .row-1, .logo
    {
        font-size: 25px;
    }

    // Row 2 user info and compose new message
    .row-2
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;

        img, .compose-message
        {
            display: flex;
            font-size: 20px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: rgba(128, 128, 128, 0.377);
            justify-content: center;
            align-items: center;

            &:hover
            {
                cursor: pointer;
                transform: scale(.98);
            }

        }

        .app-name
        {
            flex: 1;
            font-size: 20px;
        }
    }
    
    // Row 3 Search Box
    .row-3
    {
        position: relative;
        justify-content: center;
        align-items: center;
        text-align: center;
        input
        {
            width: 100%;  
            padding: 12px 40px 12px 12px;  
            box-sizing: border-box;  
        }

        i
        {
            width: 20px;
            height: 20px;
            font-size: 18px;
            position: absolute; 
            right: 10px; 
            top: 50%;
            transform: translateY(-50%);
            color: gray; 
        
        }
    }

    // Row 4 Friends
    .friends
    {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        overflow: auto;

        // images and latest message
        div
        {
           display: flex;
           flex-direction: row;
           .image
           {
            position: relative;
            height: 105px;
            white-space: nowrap;
            min-width: 29px;
            max-width: 70px;
            height: 70px;
            background: transparent;
            box-sizing: border-box;

            div:nth-child(1)
            {
                display: block;
                padding: 3px;
           
                img
                {
                     border-radius: 50%;
                     max-width: 100%;
                     min-width: 40px;
                }

            }
            
            div:nth-child(2)
            {

                display: block;
                transform: translate(-22px, 24px);
                border-radius: 50%;
                
                img
                {
                background-color: rgba(15, 15, 15, 0.87);
                padding: 2px;
                 border-radius: 50%;
                 max-width: 100%;
                 min-width: 35px;
                }

            }
            
            div
            {
                display: none;
            }
   
           }
        }

        // name header and sub header
        .name
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            overflow: hidden;

            .header
            {
                max-width: 240px;
                font-size: 17px;
                font-weight: 500;
                letter-spacing: 1px;
                color: white;
                overflow: hidden;
                white-space: nowrap;
            }

            .sub-header
            {
                display: flex;
                // flex-direction: row;
                max-width: 270px;
                // background: green;
                overflow: hidden;
                white-space: nowrap;
                
                   .message
                    {
                       overflow: hidden;
                       max-width: 170px;
                       font-weight: 1px;
                       color: rgb(136, 130, 130);
                    }
              
                    .time
                    {
                        font-weight: 1px;
                        margin-left: 5px;
                        color: rgb(109, 107, 107);
                    }
                
            }
        }

       
    }
}


.hide
{
    display: none;
}

.show
{
    opacity: 1;
    animation: show .2s ease;
}

@keyframes show
{
    from{
       opacity: 0;
       transform:translateY(-50%) scale(.8);
    }
    to{
        opacity: 1;
        transform:translateY(-50%) scale(1);
    }
}


