@import 'config';
@import 'utils';

.right-comp
{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #19191a;
    box-shadow: 0 4px 12px 0   #19191a;
    backdrop-filter: blur( 4.0px );
}

.r-row-1
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .log-out
    {
        display: flex;
        background-color: #49acf2;
        box-shadow: 0 4px 12px 0  $light-color;
        backdrop-filter: blur( 4.0px );
        color: $dark-color;
        width: 80px;
        height: 30px;
        padding: 2px;
        margin: 5px;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        transition: 2s ease;
        white-space: nowrap;
        cursor: pointer;
        
    }
}

.r-row-2
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    // text-align: center;
    margin: 5px 5px 5px 5px;

         .r-image
         {
          position: relative;
          height: 105px;
        //   white-space: nowrap;
          min-width: 29px;
          max-width: 50px;
          height: 50px;
          background: transparent;
          box-sizing: border-box;
          overflow: hidden;

          div:nth-child(1)
          {
              display: flex;
              padding: 3px;
              justify-content: left;
              img
              {
                   border-radius: 50%;
                   max-width: 80%;
                   min-width: 35px;
                  margin: auto;
                  margin-left: 5px;
              }

          }
          
          div:nth-child(2)
          {

              display: block;
            //   transform: translate(-22px, 24px);
              border-radius: 50%;
              
              img
              {
              background-color: rgba(15, 15, 15, 0.87);
              padding: 2px;
               border-radius: 50%;
               max-width: 100%;
               min-width: 35px;
              }

          }
          
          div
          {
              display: none;
          }
      }
    

    // img, i
    // {
    //     display: flex;
    //     font-size: 20px;
    //     width: 40px;
    //     height: 40px;
    //     border-radius: 50%;
    //     background-color: rgba(128, 128, 128, 0.377);
    //     justify-content: center;
    //     align-items: center;
    //     color: white;
    //     font-weight: lighter;

    //     &:hover
    //     {
    //         cursor: pointer;
    //         transform: scale(.98);
    //     }

    // }

    .room-name
    {
        flex: 1;
        padding: 5px 5px 5px 15px;
    }
}
.r-row-3
{
    flex: 1;
}

@keyframes like-send
{
    from
    {
        transform: scale(.8);
    }
    to
    {
        transform: scale(1);
    }
}

